body {
  margin: 0;
  border: 0;
}

#root * :not(.container , .hamji-navigation *) {
  border: 1px solid black;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

/* 
container
hamji-navigation
hamji-navigation-logo
hamji-navigation-buttons
hamji-main 
hamji-main-content
hamji-main-content-header
hamji-main-content-contents
hamji-main-sider
hamji-main-sider-header
hamji-main-sider-header

#1C6B80
#F2DA58
#F3CC59
#F4A171
#DD6E55
 */
/* / */
:root {
  --hamji-blue: #1C6B80;
  --hamji-yellow: #F2DA58;
  --hamji-orange: #F3CC59;
  --hamji-salmon: #F4A171;
  --hamji-coral: #DD6E55;

}

/* hamji-navigation */
.hamji-navigation {
  width: 220px;
  padding: 12px 12px 20px 12px;
  position: relative;
}

@media (max-width: 1280px) {
  .hamji-navigation {
    width: 48px;
  }
  .hamji-navigation-button div {
    display: none;
  }
}

@media (max-width: 720px) {
  .hamji-navigation {
    display: none;
  }
}

.hamji-navigation-buttons {
  width: 100%;
  height: 100%;
  position: relative;

}

.hamji-navigation-button {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.hamji-navigation-buttons-logo {
  width: 100%;;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hamji-navigation-buttons-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hamji-navigation-buttons-main * {
  width: 100%;
  height: 35px; 
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 7px;
}

.hamji-navigation-buttons-more {
  height: 35px;
  position: absolute;
  bottom: 6px;
}

@media (max-height: 372px) {
  .hamji-navigation-buttons-more{
    position: static;
  }
}

/* hamji-navigation-buttons */
.hamji-navigation-button img {
  width: 30px;
  height: 30px;
}

/* hamji-main */
.hamji-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.hamji-main-content {
  width: 800px;
  height: 3000px;
  padding-top: 30px;
}

.hamji-main-content-header {
  width: 100%;
  height: 100px;
  display: none;
}

@media (max-width: 1108px) {
  .hamji-main-content-header {
    display: inline-block;
  }
}

.hamji-main-content-contents {
  width: 100%;
  height: 100px;
}

@media (max-width: 878px) {
  .hamji-main {
    width: 100%;
  }
  .hamji-main-content {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .hamji-main {
    width: 100%;
  }
  .hamji-main-content {
    width: 100%;
  }
}

.hamji-main-sider{
  width: 230px;
  padding-top: 30px;
}

@media (max-width: 1108px) {
  .hamji-main-sider {
    display: none;
  }
}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */